.navbar{
    background-color: black;
    justify-content: space-between;
    
}
.navLink{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex ;
}