.navbar{
    background-color: black;
    justify-content: space-between;
    
}
.navLink{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex ;
}
.amount{
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:white ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    
}
.cartsvg{
    display: flex;
}