.navbar{
    background-color: black;
    justify-content: space-between;
    
}
.navLink{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;

    display: flex ;
}
>>>>>>> dd44c80ff883a830ebb15bb25f652448c90fc662
